* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.header {
  text-align: center;
}
.col {
  text-align: center;
  background-color: beige;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
}

.x.col, .o.col {
  cursor: not-allowed;
}
.row {
  position: relative;
}

.winner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#restart {
  width: 50%;
  margin: auto;
}

 

 .x.col::before,
 .ex .col:hover:not(.x):not(.o)::before {
  content: '';
  position: absolute;
  background-color: black;
  height: 30px;
  width: 5px;
  transform: rotate(40deg);
}
.x.col::after, 
.ex .col:hover:not(.x):not(.o)::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 30px;
  width: 5px;
  transform: rotate(-40deg);
}
.ex .col:hover:not(.x):not(.o)::before,
.ex .col:hover:not(.x):not(.o)::after {
  background-color: lightgray;
}
.o.col::before,
.circle .col:hover:not(.x):not(.o)::before {
  content: '';
  position: absolute;
  background-color: black;
  height: 90%;
  width: 40px;
  border-radius: 50%;

}



.circle .col:hover:not(.x):not(.o)::before{
  background-color: lightgray;
}




